<div class="comment-default-block bg-light">

    #if(option("page_comment_enable","true"))
    <form class="" action="#(CPATH)/page/postComment" id="jpress-comment-form" method="post" autocomplete="off">
        <input type="hidden" name="pageId" value="#(page.id ??)">
        <input type="hidden" name="render" value="default">
        <input type="hidden" name="pid" id="comment-pid">

        <!--<div class="comment-textarea">
            <textarea placeholder="您的留言，对我们来说非常重要...." rows="4" name="content"></textarea>
        </div>-->
        <div class="comment-textarea">
            <textarea id="editor1" name="content"
                      style="height: 467px;width: 100%" class="bg-light"></textarea>
        </div>

        <div class="comment-vcode">
            #if(option("page_comment_vcode_enable","true"))
            <input placeholder="请输入验证码" name="captcha" id="comment-captcha" class="border border-primary">
            <img class="vcode-img" src="#(CPATH)/commons/captcha"
                 onclick="this.src='#(CPATH)/commons/captcha?d='+Math.random();" cdn-exclude id="comment-vcode">
            #end
        </div>

        <div class="pull-right comment-btn">
            <button class="btn btn-primary" type="submit">评论</button>
        </div>
        <span class="clearfix"></span>
    </form>
    #end


    <h4 class="comment-page-title" id="comments">全部评论</h4>

    <div class="comment-page">
        #pageCommentPage()
        #if(commentPage.list != null && commentPage.list.size() > 0)
            #for(comment : commentPage.list ??)
                #include("pageCommentItem.html")
            #end
        #else
            <div class='text-center'><i class='fa fa-frown-o fa-fw'></i>还没有评论！</div>
        #end
        #end
    </div>


    #pageCommentPaginate(anchor="comments")
    <nav>
        <ul class="pagination justify-content-center">
            #for(p : pages)
            <li class="page-item #(p.style)"><a class="page-link" href="#(p.url ??)">#(p.text)</a></li>
            #end
        </ul>
    </nav>
    #end


</div>


